.input-group {
  position: relative;
  border: 1px solid var(--grey);
  border-radius: 0.3rem;
  color: white;
  transition: all 0.2s ease-in-out;
}
.input-group:hover {
  border: solid 1px var(--primary);
}
.input-group:hover label {
  color: var(--primary);
}
.input-group input:focus,
.input-group textarea:focus,
.input-group select:focus {
  outline: none;
}
.input-group input,
.input-group textarea,
.input-group select {
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-radius: 0.3rem;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
  padding: 0.75rem 1rem;
}
.input-group select {
  height: 100%;
}

.input-group input::placeholder,
.input-group textarea::placeholder,
.input-group select::placeholder {
  color: transparent;
}
.input-group:has(> input:focus),
.input-group:has(> textarea:focus),
.input-group:has(> select:focus) {
  border: solid 1px var(--primary);
}
.input-group input:focus + label,
.input-group textarea:focus + label,
.input-group select:focus + label {
  color: var(--primary);
}
.input-group label {
  position: absolute;
  background-color: transparent;
  padding: 0.75rem;
  top: 0;
  left: 0;
  bottom: 0;
  cursor: text;
  color: #c4c4c4;
  transition: all 0.2s ease-in-out;
}
.input-group:focus-within label,
.input-group input:not(:placeholder-shown) ~ label,
.input-group textarea:not(:placeholder-shown) ~ label,
.input-group select:not(:placeholder-shown) ~ label {
  padding: 0 0.25rem;
  background-color: var(--dark2);
  top: -0.6rem;
  left: 0.8rem;
  bottom: auto;
  font-size: 0.75rem;
}
/* disable autofill background color */
.input-group input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.checkbox-group input[type="checkbox"] {
  transform: scale(1.25) translateX(0.1rem);
  margin-right: 0.75rem;
}

/* Change the autofill to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--dark2) inset !important;
    -webkit-text-fill-color: white !important;
}